.card{
  height: 60vh;
  margin: 25px;
  padding: 25px;
}

.centre{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h4,h6{
  font-weight: 400;
}

.centre img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  height: 162px;
  width: 250px;
  margin: 20px 0px;
}

.center .btn{
  font-size: 14px !important;
  margin-top: 20px !important;
  font-weight: 400;
  padding: 12px 72px;
  border-radius: 3px !important;
}

.content-table {
  width: 90%;
  padding: 5px;
  text-align: left;
  align-items: center;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  min-width: 1000px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr{
background-color: teal;
color: aliceblue;
text-align: left;   
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
height: 40px;
}

.content-table th, .content-table td{
  padding: 10px;
}
.content-table tbody tr{
  border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
  background-color: rgb(230, 230, 230);
}
