<div class="coupon-container">
<div class="coupon">
  <div class="container">
  <img src="../../../assets/Luxury Wooden Chair 01.jpg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>20% OFF ON YOUR PURCHASE</b></h2>
    <p>Own an Luxury Chair at at 20% Off  <br /> AVAIL YOUR OFFER ASAP!!!</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">AIP13</span></p>
    <p class="expire">Expires: AUG 03, 2022</p>
  </div>
</div>

<div class="coupon">
  <div class="container">
  <img src="../../../assets/Cool Minimal Couch.jpg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>40% OFF ON YOUR PURCHASE</b></h2>
    <p>Own an Minimal Couch at at 20% Off  <br /> AVAIL YOUR OFFER ASAP!!!</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">PH300</span></p>
    <p class="expire">Expires: AUG 10, 2022</p>
  </div>
</div>

<div class="coupon">
  <div class="container">
  <img src="../../../assets/Instant Coffee Maker 05.jpg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>30% OFF ON YOUR PURCHASE</b></h2>
    <p>Own an Minimal Couch at at 20% Off  <br /> AVAIL YOUR OFFER ASAP!!!</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">TMC10</span></p>
    <p class="expire">Expires: AUG, 2022</p>
  </div>
</div>
</div>
