.card-top{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: .25rem;
}
.navbar{
  background-color: white;
}

.img-container{
  width: 40%;
  height: 60%;
}

.item{
  width: 200px;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
}

.card{
  padding: 30px;
  margin: 50px;
  width: 340px;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  border-radius: 15px;
}

.card img{
  align-self: center;
  width: 90%;
  height: 60%;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

.card img:hover{
  transition: 0.6s ease-in-out;
  transform: scale(1.1);

}

.card p {
  text-align: center;
  font-size: 15px;

}

.card h5 {
  text-align: center;
}

.item h4 {
  text-align: center;
  font-weight: bold;
}
